body{
    background:#fff;
}
.goodDtail{
    padding:0 20px;
}
.level01 img{
    /*margin-left: 20px;*/
}
.level01 p{
    float:left;
    font-size: 24px;
    color: #5A4942;
    margin-left:10px;
}
.infoGood{
    font-size: 16px;
    color: #BC9972;
    line-height: 30px;
    margin-top: 43px;
    text-indent:2em;
}
.level02 img{
    float:left;
    width:80%;
}
 .menuList{
     position: fixed;
     z-index: 90;
     bottom: 0px;
     right: 20px;
}
 .menu li{
    width:50px;
    height:50px;
    margin-bottom:20px;
}

.moreStyle{
    bottom: -8rem;
}
.moreStyle2 {
    bottom: -7rem;
}
.moreStyle3{
    bottom: -6rem;
}
.level01 img {
    /* margin-left: 20px; */
    width: 100%;
}