
.page {
  height: 100%;
  color: #5A4942;
}

.page-header {
  position: relative;
  line-height: 44px;
  height: 44px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header .header-back {
  position: absolute;
  top: 0;
  left: 15px;
}

.page-header .header-back .icon-back {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('../image/back_icon.png');
  background-repeat: no-repeat;
}

.page-header .header-title {
  text-align: center;
  font-size: 17px;
  letter-spacing: -0.41px;
  font-weight: 700;
}

.page-content {
  padding-left: 15px;
}

.page-content.no-pad {
  padding-left: 0;
}

.page-content.has-pad {
  padding: 0 15px;
}

.msg-item {
  padding: 20px 15px 20px 0;
  height: 115px;
  border-bottom: 1px solid #f1f1f1;
}

.msg-item .msg-item_icon {
  float: left;
  width: 72px;
  height: 52px;
  background: url('../image/message.png') no-repeat center;
}

.msg-item .msg-item_text {
  float: left;
  width: -webkit-calc(100% - 72px);
  width: calc(100% - 72px);
}

.msg-item .msg-item_text dt {
  margin-bottom: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
}

.msg-item .msg-item_text dt small {
  float: right;
  font-size: 14px;
  color: #d1d1d1;
}

.msg-item .msg-item_text dd {
  color: #8D837F;
  line-height: 22px;
}

.order-item {
  padding: 20px 15px 20px 0;
  min-height: 200px;
  border-bottom: 1px solid #f1f1f1;
}

.order-item .order-item_title {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.order-item_title .item-title_time {
  font-size: 15px;
  color: #D1D1D1;
}

.order-item_title .item-title_status {
  font-size: 14px;
  color: #BC9972;
}

.order-item_title .item-title_status.disabled {
  font-size: 14px;
  color: #d1d1d1;
}

.order-item .order-item_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 120px;
}

.order-item_content .item-content_img {
  margin: 0 15px;
  width: 120px;
  height: 120px;
}

.order-item_content .item-content_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 10px 0;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.order-item_content .item-content_text dd {
  font-size: 18px;
  line-height: 24px;
}

.order-item_content .item-content_text dd:last-child {
  font-size: 24px;
}

.order-item .order-item_action {
  text-align: right;
}

.order-item .order-item_action .button{
  padding: 0 2em;
  width: auto;
  height: auto;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  color: #BC9972;
  border: 1px solid #BC9972;
  border-radius: 24px;
}

.integral-summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 15px 25px;
  height: 230px;
  background-image: url('../image/375.png');
  background-size: cover;
}

.integral-summary .integral-summary_head {
  margin-top: 20px;
  color: #9f8473;
}

.integral-summary .integral-summary_content {
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  color: #bd9972;
}

.integral-summary .integral-summary_footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  line-height: 24px;
  color: #bd9972;
}

.integral-summary .integral-summary_footer span {
  width: 100%;
  text-align: center;
}

.integral-detail .tab-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  margin-top: 12px;
  padding: 20px 0;
  border-bottom: 1px solid #bd9972;
}

.integral-detail .tab-title li{
  width: 90px;
  text-align: center;
}

.integral-detail .tab-title li .button {
  width: 80px;
  height: auto;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  color: #BC9972;
  border: 1px solid #BC9972;
  border-radius: 24px;
}

.integral-detail .tab-title li .button.active {
  color: #ffffff;
  background-color: #bd9972;
}

.integral-detail .tab-content {
  padding-bottom: 20px;
}
.integral-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.integral-item_date{
  position: relative;
  padding: 25px 15px 0;
  width: 80px;
  color: #bd9972;
}

.integral-item_date:after {
  content: "";
  position: absolute;
  top: 30px;
  right: -6px;
  width: 8px;
  height: 8px;
  background-color: #bd9972;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.integral-item_date p {
  padding: 10px 0;
}

.integral-item_date .item-date_day {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  text-align: right;
  line-height: 32px;
}

.integral-item_date .item-date_day:before {
  content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 50px;
    height: 0;
    border-bottom: 1px solid #5f4f45;
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
}

.integral-item_date .item-date_day b {
  font-size: 32px;
}

.integral-item_date .item-date_day span {
  font-size: 16px;
  line-height: 20px;
}

.integral-item_content {
  padding: 20px 15px 0;
  width: 100%;
  border-left: 1px solid #bd9972;
}

.integral-item_content .item-content-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px;
  height: 70px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px 0 #eee;
          box-shadow: 0 0 20px 0 #eee;
}

.integral-item_content .item-content-detail:last-child {
  margin-bottom: 0;
}

.integral-item_content .item-content-detail dt,
.integral-item_content .item-content-detail dd{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  font-size: 12px;
  color: #BC9972;
}

.integral-item_content .item-content-detail dt {
  font-size: 16px;
  color: #5f4f45;
}

.pay-amount {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-top: 30px;
  line-height: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.pay-amount span {
  color: #8D837F;
}

.pay-amount b {
  font-size: 24px;
  color: #C9AD8E;
}

.pay-way {
  margin-top: 40px;
}

.pay-way .pay-way_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  font-size: 17px;
  color: #C9AD8E;
}

.pay-way .pay-way_title .icon-money {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../image/pay-money.png') no-repeat center;
}

.pay-way .pay-way_content {
  margin-top: 20px;
  font-size: 17px;
  color: #C9AD8E;
}

.pay-way_content .pay-way_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #e6e6e6;
}

.pay-way_content .pay-way_item:last-child {
  border-bottom-color: transparent;
}

.pay-way_item > img {
  width: 108px;
}


.radio {
  width: 18px;
  height: 18px;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #7B6D68;
  -webkit-box-shadow: inset 0 0 0 2px #f4f4f4;
          box-shadow: inset 0 0 0 2px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #7B6D68;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  -webkit-box-shadow: inset 0 0 0 2px #f4f4f4;
          box-shadow: inset 0 0 0 2px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.pay-action {
  margin-top: 30px;
}

.pay-action .button {
  margin-bottom: 15px;
  height: 44px;
  border-radius: 6px;
}

.button-primary {
  color: #fff;
  background-color: #C9AD8E;
  border-color: #C9AD8E;
  -webkit-box-shadow: 0 0 2px 0 #C9AD8E;
          box-shadow: 0 0 2px 0 #C9AD8E;
}

.button-plain {
  color: #C9AD8E;
  background-color: #fff;
  border-color: #fff;
}

.chat {
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  height: -webkit-calc(100% - 44px);
  height: calc(100% - 44px);
}

.chat .chat-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  padding: 0 15px;
}

.chat-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-bottom: 15px;
}

.chat-item > img {
  width: 50px;
}

.chat-item .chat-item_text {
  position: relative;
  margin-left: 10px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  color: #8D837F;
  background-color: #F7F7F7;
  border-radius: 4px;
}

.chat-item .chat-item_text:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: #F7F7F7;
}

.chat-item.ask {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.chat-item.ask .chat-item_text {
  margin-right: 10px;
  margin-left: 0;
  padding: 0 10px;
  color: #fff;
  background-color: #C9AD8E;
}

.chat-item.ask .chat-item_text:before {
  border-right-color: transparent;
  border-left-color: #C9AD8E;
  left: auto;
  right: -15px;
}

.chat .chat-input {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 56px;
}

.chat-input .input-text {
  width: 76%;
  height: 36px;
  border: 1px solid #bd9972;
  border-radius: 18px;
}

.chat-input .input-text > input {
  padding: 8px 12px;
  max-width: 100%;
  height: 34px;
  line-height: 34px;
  background: transparent;
}

.chat-input .input-voice,
.chat-input .input-emoji {
  width: 12%;
  height: 30px;
  background-image: url('../image/voice.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.chat-input .input-emoji {
  background-image: url('../image/emoji.png');
}


.fullpage {
  visibility: hidden;
}

.sidebar {
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.sidebar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  padding: 60px 20%;
  /* width: 60%; */
  height: 100%;
  /* background-color: #333; */
}

.sidebar ul li {
  padding: 4px 14px;
  text-align: center;
  line-height: 1.4em;
  color: #bd9972;
  border: 1px solid #BC9972;
  border-radius: 100px;
}

.sidebar ul li.sidebar-close {
  margin-top: 30px;
  height: 50px;
  border-color: transparent;
  background-image: url('../image/layerclose.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.offcanvas-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.offcanvas-right {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.mainbody {
  height: 100vh;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.searchbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 10px 30px;
  width: 100%;
  height: 50px;
}

.searchbar input {
  padding: 6px 10px;
  width: 100%;
  height: 30px;
  border: 1px solid #b4b4b4;
  border-radius: 20px;
  background: #fff url('../image/searchbar_bg.png') no-repeat center;
}

.searchbar input:focus {
  background: none;
}
.content-action{
  width:80px;
  height:25px;
}
.content-action.active1{

  background:url('../image/haveNotColl.png')
}
.content-action.active2{
  background:url('../image/haveColl.png')
}
.actionbar {
  position: fixed;
  z-index: 1001;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  height: 80px;
}

.actionbar .menu-bar {
  width: 50px;
  height: 100%;
  background: url('../image/classical.png') no-repeat center;
}

.actionbar .scan-bar {
  width: 50px;
  height: 100%;
  background: url('../image/scanner1.png') no-repeat center;
}

.actionbar .user-bar {
  width: 50px;
  height: 100%;
  background: url('../image/personCenter.png') no-repeat center;
}

.section {
  padding-top: 50px;
  width: 100%;
  font-size: 14px;
  color: #5A4942;
  overflow: hidden;
  position: relative;
}
.section .section-main {
  height: 90%;
}

.section .section-head {
  padding-top: 10px;
  text-align: center;
}

.section .section-head h3,
.section .section-head h5 {
  font-weight: 100;
  letter-spacing: 0;
}

.section .section-head h5 {
  font-size: 16px;
}
.section .section-head h3 {
  font-size: 24px;
}

.section .section-content {
  position: relative;
  padding-top: 10px;
  height: 80vw;
}

.section-content .content-img {
  padding-top: 15px;
  height: 100%;
}

.section-content .content-img .next-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-image: url('../image/next.png');
  background-size: contain;
}

.section-content .content-img > img {
  width: 100%;
}

.section-content .content-action {
  position: absolute;
  left: 15px;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  line-height: 0;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
}

.section-content .content-action.active {
  color: #fff;
  background-color: rgb(243, 84, 36);
}

.section-content .content-action.active i {
  display: none;
}

.content-action i.heart {
  margin-right: 4px;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('../image/heart.png');
  background-size: contain;
}

.section .section-footer {
  padding: 0 15px;
}

.section-footer {
  line-height: 2;
  font-size: 12px;
}

.section-footer dt {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #5A4942;
  padding-bottom: 20px;
}

.section-footer dd {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  font-size: 14px;
  line-height: 33px;
  color: #BC9972!important;
}